<div class="container-fluid text-center" (authStatus)="authStatusHandler($event)">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  	<a routerLink="/">Joy</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	  	<span class="navbar-toggler-icon" id="navbarNav"></span>
	  </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" *ngIf="!authStatus">
          <a routerLink="auth">Login</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="authStatus">
          <a routerLink="auth">Profile</a>
        </li>
        <li class="nav-item" routerLinkActive="active"><a routerLink="blog">Blog</a></li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>