
<div [ngClass]="{
	'card': true,
	'border-fifth': loveIts < 0}">

	<div class="card-header">
		<span class="font-weight-light">{{date | date: 'short'}}</span>
		<button class="btn btn-outline-light" type="button">
			<a [routerLink]="[id]">Show Detail</a>
		</button>
	</div>

	<div class="card-body">
		<div class="card-title"><h3>{{title}}</h3></div>
		<div class="card-text"><p>{{content}}</p></div>
	</div>

	<div class="card-footer">
		<div class="button-group">
			<button (click)="onLike()" type="button" class="btn btn-outline-dark border-second">
				Love It  <span *ngIf="loveIts > 0" class="badge badge-light">{{loveIts}}</span>
			</button>
			<button (click)="onDislike()" type="button" class="btn btn-outline-dark border-fifth">
				Hate It  <span *ngIf="loveIts < 0" class="badge badge-light">{{loveIts}}</span>
			</button>
		</div>
	</div>

</div>		

