<li [ngClass]="{
	'text-left': true,
	'list-group-item': true, 
	'list-group-item-success': loveIts > 0,
	'list-group-item-danger': loveIts < 0}">
	<div class="row">
		<div class="col-md-9">
			<h3>{{title}}</h3>
			<p>{{content}}</p>
			<div class="button-group">
				<button (click)="onLike()" type="button" class="btn btn-success">
					Love It<span *ngIf="loveIts > 0" class="badge badge-light">{{loveIts}}</span>
				</button>
				<button (click)="onDislike()" type="button" class="btn btn-danger">
					Fuck It<span *ngIf="loveIts < 0" class="badge badge-light">{{loveIts}}</span>
				</button>
			</div>
		</div>
		<div class="col-md-3">
			<span class="font-weight-light">{{date | date: 'short'}}</span>
		</div>
	</div>
</li>
