
<div class="row">
	<div class="col-md-4">
		<img src="../assets/profilePic.jpg" class="img-fluid img-thumbnail">
	</div>
	<div class="col-md-4">
		<div class="card">
			<div class="card-body">
				<div class="card-title"><h2>Mr Luke Cage</h2></div>
				<div class="card-text">
					<p>{{lorem}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<div class="card-header">
				<h2>Profile Setting</h2>
			</div>
			<div class="card-body">
				<form (ngSubmit)="onSave(f)" #f=ngForm>
					<div class="form-group row">
						<label for="username" class="col-sm-4 col-form-label">username</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="username" name="username" placeholder="Jabba">
						</div>
					</div>
					<div class="form-group row">
						<label for="email" class="col-sm-4 col-form-label">Email</label>
						<div class="col-sm-8">
							<input type="email" class="form-control" id="email" name="email" placeholder="jabba@hutt.com">
						</div>
					</div>
					<div class="form-group row">
						<label for="password1" class="col-sm-4 col-form-label">Password</label>
						<div class="col-sm-8">
							<input type="password" class="form-control" id="password1" name="oldPassword" placeholder="12345" aria-describedby="pswdHelp1" minlength="6">
							<small id="pswdHelp1" class="form-text text-muted">Enter old password</small>
						</div>
					</div>
					<div class="form-group row">
						<label for="password2" class="col-sm-4 col-form-label">Password</label>
						<div class="col-sm-8">
							<input type="password" class="form-control" id="password2" name="newPassword1" placeholder="jabba12345" aria-describedby="pswdHelp2" minlength="6">
							<small id="pswdHelp2" class="form-text text-muted">Choose new password</small>
						</div>
					</div>
					<div class="form-group row">
						<label for="password3" class="col-sm-4 col-form-label">Password</label>
						<div class="col-sm-8">
							<input type="password" class="form-control" id="password3" name="newPassword2" placeholder="jabba12345" aria-describedby="pswdHelp3" minlength="6">
							<small id="pswdHelp3" class="form-text text-muted">Confirm password</small>
						</div>
					</div>
					<div class="btn-group">
						<button class="btn btn-success" type="submit" [disabled]="f.invalid">SAVE</button>
						<button class="btn btn-outline-dark" type="button" (click)="onLogout()">LOGOUT</button>		
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

