#hall {
	margin-top: 0 !important;
	display: flex;
	align-items: flex-end;	
	justify-content: center;
	background: #fff url('../../assets/hall.jpg') no-repeat fixed center;
}

#call { margin-bottom: 3em; }

.card { margin: 24px 0; }
.card-title { text-decoration: underline; }
.row { margin-bottom: 60px; }