<div class="container-fluid">
	<div class="row screen-height">
		<div class="col-sm-12" id="hall">
			<div id="call" class="text-center">
				<h2>The joys of life blogpost</h2>
				<button class="btn btn-lg btn-outline-dark">Welcome</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<img src="../assets/about1.jpg" class="img-fluid">
		</div>
		<div class="col-md-9 v-center">
			<div class="card">
				<div class="card-body">
					<div class="card-title"><h4>Lorem Ipsum</h4></div>
					<div class="card-text">
						<p>{{loremLong}}</p>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<div class="card-title"><h4>Lorem Ipsum</h4></div>
					<div class="card-text">
						<p>{{loremLong}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9 v-center">
			<div class="card">
				<div class="card-body">
					<div class="card-title"><h4>Lorem Ipsum</h4></div>
					<div class="card-text">
						<p>{{loremLong}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<img src="../assets/about2.jpg" class="img-fluid">
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<img src="../assets/about3.jpg" class="img-fluid">
		</div>
		<div class="col-md-9 v-center">
			<div class="card">
				<div class="card-body">
					<div class="card-title"><h4>Lorem Ipsum</h4></div>
					<div class="card-text">
						<p>{{loremLong}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9 v-center">
			<div class="card">
				<div class="card-body">
					<div class="card-title"><h4>Lorem Ipsum</h4></div>
					<div class="card-text">
						<p>{{loremLong}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<img src="../assets/about4.jpg" class="img-fluid">
		</div>
	</div>
</div>
